<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Product List</title>
    <link rel='stylesheet' href='/webjars/bootstrap/4.6.0-1/css/bootstrap.min.css'>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <p class="col-md-12" style="text-align: center; font-size: larger"> <strong>PRODUCTS LIST</strong></p>
    </div>
    <div class="row">
        <div class="col-md-6 offset-3">
            <div th:if="${message}">
                <p th:text="${message}"></p>
            </div>
            <table class="table table-hover table-dark">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Description</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Details</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="product : ${products}">
                    <td th:text="${product.id}"></td>
                    <td th:text="${product.name}"></td>
                    <td th:text="${product.category}"></td>
                    <td th:text="${product.description}"></td>
                    <td th:text="${product.quantity}"></td>
                    <td th:text="${product.price}"></td>
                    <td><a th:href="@{/product/{id}/view(id=${product.id})}" class="btn btn-primary">View</a></td>
                    <td><a th:href="@{/product/{id}/edit(id=${product.id})}" class="btn btn-primary">Edit</a></td>
                    <td><a th:href="@{/product/{id}/delete(id=${product.id})}" class="btn btn-danger">Delete</a></td>
                </tr>
                </tbody>
            </table>
            <a class="btn btn-primary" th:href="@{/product/create}">Add new product</a>
        </div>
    </div>
</div>
</body>

</html>